%poppins-italic-400 {
    font: {
        family: "Poppins", sans-serif;
        weight: 400;
        style: italic;
    }    
}

%poppins-normal-700 {
    font: {
        family: "Poppins", sans-serif;
        weight: 700;
        style: normal;
    }    
}

%poppins-italic-800 {
    font: {
        family: "Poppins", sans-serif;
        weight: 800;
        style: italic;
    }    
}